name: Main

on:
  push:
    tags:
      - v*
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  pip:
    name: Publish to Pip
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install pypa/build
        working-directory: python
        run: python -m pip install build --user

      - name: Install deps
        working-directory: python
        run: pip install .[test]

      - name: Run unit tests
        working-directory: python
        run: pytest

      - name: Build a binary wheel and a source tarball
        if: startsWith(github.ref, 'refs/tags/v')
        working-directory: python
        env:
          VERSION: ${{ github.ref_name }}
        run: python -m build --sdist --wheel --outdir dist/ .

      - name: Publish distribution to PyPI
        if: startsWith(github.ref, 'refs/tags/v')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          verbose: true
          packages-dir: python/dist

  npm:
    name: Publish to Npm
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - name: Get OIDC Token
        env:
          AUDIENCE: "npm:registry.npmjs.org"
        run: |
          TOKEN_JSON=$(curl -s -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=$AUDIENCE")
          ID_TOKEN=$(echo "$TOKEN_JSON" | jq -r .value)
          echo "NODE_AUTH_TOKEN=$ID_TOKEN" >> "$GITHUB_ENV"

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'

      # Trusted publishing need npm 11.+
      - name: Upgrade npm
        run: |
          npm install -g npm@latest
          npm version

      - name: Set version
        id: set_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Copy Readme
        working-directory: javascript
        run: |
          curl -s https://raw.githubusercontent.com/kestra-io/kestra/master/README.md > README.md
          npm version "$VERSION" --no-git-tag-version

      - name: Install dependencies
        working-directory: javascript
        run: npm install

      - name: Run unit tests
        working-directory: javascript
        run: npm run test

      - name: Publish to npm
        if: startsWith(github.ref, 'refs/tags/v')
        working-directory: javascript
        run: npm publish --access public


  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs:
      - pip
      - npm
    steps:
      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          draft: false
          prerelease: false

  end:
    runs-on: ubuntu-latest
    needs:
      - release
    if: failure()
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
      # Slack
      - name: Slack notification
        if: ${{ env.SLACK_WEBHOOK_URL != 0 }}
        uses: kestra-io/actions/composite/slack-status@main
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          channel: 'C09FF36GKE1'

